{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block styles %}
	<style>
		.image-crop {
			overflow: hidden;
			height: 110px;
		}
		a {
			color: black;
		}
	</style>
{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
		<div class="card mb-3" style="max-width: 540px; margin-top: 20px;">
			<div class="row no-gutters">
				<a href="/artists/{{ artist.id }}">
					<div class="col-md-4 image-crop">
						<img src="{{ artist.image_link }}" class="card-img" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">
								<i class="fas fa-users"></i>
								<b>{{ artist.name }}</b>
							</h5>
							<p class="card-text">Shows: {{ artist.shows }}</p>
							<p class="card-text">Albums: {{ artist.albums }}</p>
							<p class="card-text"><small>Songs: {{ artist.songs }}</small></p>
						</div>
					</div>
				</a>
			</div>
		</div>
	{% endfor %}
</ul>
{% endblock %}