{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block styles %}
	<style>
		.album {
			width: 15rem;
			border: 1px solid black;
			padding: 10px;
			height: 170px; 
			display: inline-block;
		}
	</style>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<div class="container" style="padding-left: 0">
			<div class="col-sm-4" style="padding-left: 0;">
				<p>
					<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
				</p>
				<p>
					<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
						</p>
						<p>
					<i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
				</p>
				<p>
					<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
				</p>
			</div>
			<div class="col-sm-2" style="padding-left: 40px">
				<button id="edit-venue" data-edit-link="{{ button_links.edit }}" class="btn btn-info" type="button" style="border-color: cornflowerblue; background: cornflowerblue;">Edit</button>
				<button id="delete-venue" data-delete-link="{{ button_links.delete }}" class="btn btn-danger" type="button" >Delete</button>
				<button id="show-albums" data-albums="" class="btn btn-info" style="margin: 5px; border-color: green; background: green;">Show Albums</button>
			</div>
		</div>
		<div id="albums" style="display: none;">
			<h4>Albums:</h4>
			<div class="card album" style="width: 15rem; border: 1px solid black; padding: 10px; height: 170px; ; display: inline-block;">
				<div class="card-body">
					<h5 class="card-title"><b>Night Visions</b></h5>
					<h6 class="card-subtitle mb-2 text-muted">3 Songs</h6>
					<ul style="list-style-type:none; padding-left: 0;">
						<li>1. Radioactive</li>
						<li>2. Tiptoe</li>
						<li>3. It's Time</li>
						<p>and more...</p>
					</ul>
				</div>
			</div>
		</div>
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Artist Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<script>
	const editButton = document.getElementById('edit-venue');
	editButton.onclick = function(event) {
		event.preventDefault();
		location.href = editButton.getAttribute('data-edit-link');
	};
	const deleteButton = document.getElementById('delete-venue');
	deleteButton.onclick = function(event) {
		event.preventDefault();
		const deleteLink = deleteButton.getAttribute('data-delete-link');

		fetch(deleteLink, {
			method: 'DELETE'
		})
		.then(function(data) {
			location.href = '/';
		});
	};
	const albumsButton = document.getElementById('show-albums');
	const albums = document.getElementById('albums');
	let showAlbums = false;
	albumsButton.onclick = function(event) {
		if (showAlbums) {
			albums.style.display = "none";
			albumsButton.innerText = 'Show Albums';
			showAlbums = false;
		}
		else {
			albums.style.display = "block";
			albumsButton.innerText = 'Hide Albums';
			showAlbums = true;
		}
	};
</script>
{% endblock %}

