{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/venues/{{venue.id}}/edit">
      <h3 class="form-heading">Edit Venue: <em>{{ venue.name }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true, value = venue.name) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true, value = venue.city) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control state-select', placeholder='State', autofocus = true, value = venue.state) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true, value = venue.address) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true, value = venue.phone) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control genre-select', placeholder='Genres, separated by commas', autofocus = true, value = genres) }}
      </div>
      <div class="form-group">
          <label for="genres">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true, value = venue.facebook_link) }}
        </div>
      <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
  <script>
    const stateSelect = document.getElementsByClassName('state-select')[0];
    stateSelect.value = stateSelect.getAttribute('value');

    const genreSelect = document.getElementsByClassName('genre-select')[0];
    const genres = genreSelect.getAttribute('value').replace(/'|\[|\]|/g, '').split(', ');
    const genreOptions = document.querySelector(".genre-select").querySelectorAll('option');
    genres.forEach(function(genre) {
      genreOptions.forEach(function(option) {
        if (genre === option.value) {
            option.selected = true;
        }
      });
    });
  </script>
{% endblock %}